* {
    margin: 0;
    padding: 0;   
}

header {
    width: 100%;  
    height: 150px;  
    border: 1px solid red;
    background-image: linear-gradient(to bottom, red, white, white, red);
}

header picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header picture img {
    height: 140px;    
}  

nav {
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    color: yellow;
}

footer {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    bottom: 0;
}

article {
    margin: auto;
    width: 1000px;
    height: 1200px;
    border: 1px solid red;
    padding: 20px;
} 

article picture img {
    height: 300px; 
    display: inline-block; 
    padding: 30px;
}